<html xmlns:th="https://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #FFE4B5; box-shadow: 0 0 10px rgba(0,0,0,0.5)">
    <a class="navbar-brand" href="/" style="font-family:  Bradley Hand, cursive;font-size:20px;">TravellSales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li th:if="${q}" class="nav-item active">
                <a class="navbar-brand" href="#" style="color:black">Settings
                    <i class="large material-icons " style="color:white">settings_applications</i>
                </a>
            </li>

            <li th:if="${isAdmin}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/trip_settings">Trips</a>
                    <a class="dropdown-item" href="/city_settings">Cities</a>
                    <a class="dropdown-item" href="/user">Users</a>
                </div>
            </li>
        </ul>
    </div>


    <!-- Button trigger modal -->
    <div th:unless="${authUser}">
        <button  type="button" class="btn btn-secondary" data-toggle="modal" data-target="#loginModal" style="background-color: #708090; box-shadow: 0 0 5px rgba(0,0,0,0.5)">
            Login
        </button>
    </div>
    <div th:if="${authUser}">
        <form th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button  type="submit" class="btn btn-secondary" style="background-color: #708090; box-shadow: 0 0 5px rgba(0,0,0,0.5)">
                Sign out
            </button>
        </form>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Authorization</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form th:action="@{/login}" method="post">
                        <div><input type="text" class="form-control" name="username" placeholder="Username"/> </label></div>
                        <div><input type="password" class="form-control mt-2" name="password" placeholder="Password"/> </label></div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="row">
                            <div class="col" >
                                <button type="submit" class="btn btn-info px-4 mt-3" >Sign in</button>
                            </div>
                            <div class="col align-self-center mt-1" align="right">
                                <a href="/registration">Registration</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</nav>

