<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>


<body>

<nav th:replace="fragments/navbar :: navbar"></nav>



<div class="container mt-4" th:each="trip:${user_fav_trips}">
    <div class="row mx-auto" style="height:250px ; width:800px; border-radius:20px; box-shadow:0 0 10px rgba(0,0,0,0.5);">
        <div th:if="${trip.userPurchase(authUser) == false}" style="width:250px; border-right: 3px dashed #A9A9A9; border-radius: 20px 0 0 20px;
 background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYEK7JGPePgCQNTajlN_ZGGRZv9cGWJeKHB-zCS0ixp1I23DUJSw&s') fixed;background-size: contain;">

            <a th:href="@{/user/like/{id}(id=${trip.id})}">
                 <i class="large material-icons ml-2 " style="font-size: 2.1em;color:#696969">cancel_presentation</i>

            </a>
            <a href="https://www.kalendarik.com.ua/online">
                <i class="large material-icons ml-2 pb-1" style="font-size: 2.0em;color: #696969; float:right">calendar_today</i>
            </a>

            <div class="row" style="height: 70px; margin-top:1px">

                <div class="btn my-auto mx-auto col "  >

                    <i class="large material-icons ml-2 mt-2" style="font-size: 2.5em;color:#FF6347;text-decoration:none">shopping_cart</i>

                    <i style="color:#2F4F4F">Economy(<b style="color:black" th:text="${trip.tripInfo.priceEconomyPlace}+'$'"></b>)
                    </i>
                </div>
                <div class="btn my-auto col">

                    <i class="large material-icons ml-2 mt-2" style="font-size: 2.5em;color:#FF8C00;text-decoration:none ">credit_card</i>
                    <i style="color:#2F4F4F">Comfort(<b style="color:black" th:text="${trip.tripInfo.priceComfortPlace}+'$'"></b>)</i>
                </div>

            </div>
            <div class="row" style="height: 70px;">
                <div class="col align-self-center" align="center">
                    <p th:text="'Sits left: '+${trip.tripInfo.amountComfortPlace}" class="my-2" style="color:#2F4F4F"></p>
                </div>

                <div class="col align-self-center" align="center">
                    <p th:text="'Sits left: '+${trip.tripInfo.amountEconomyPlace}"  class="my-2" style="color:#2F4F4F"></p>
                </div>
            </div>
            <div class="row" style="height: 50px;">
                <div class="col align-self-center" align="center" >

                    <i class="large material-icons ml-2 mt-2" style="font-size: 2.5em;color: #FFD700">star</i>
                </div>
            </div>

        </div>

        <div th:if="${trip.userPurchase(authUser)}" style="width:250px; border-right: 3px dashed #A9A9A9; border-radius: 20px 0 0 20px;
 background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYEK7JGPePgCQNTajlN_ZGGRZv9cGWJeKHB-zCS0ixp1I23DUJSw&s') fixed;background-size: contain;">

            <div class="row">
                <div class="col">
                    <a th:href="@{/user/like/{id}(id=${trip.id})}">
                        <i class="large material-icons ml-2 " style="font-size: 2.1em;color:#696969">cancel_presentation</i>

                    </a>
                </div>
            </div>

            <div class="row" style=" height:50px">
                <div class="col" align="center">
                    Thank you for your purchase!
                </div>
            </div>

            <div class="row" style=" height:50px">
                <div class="col" align="center">
                    <i class="material-icons mt-2" style="font-size:2.1em">
                        help_outline
                    </i>
                </div>
            </div>

            <div class="row" style=" height:50px">
                <div class="col" align="center">
                    To manage the trip, go to your <a href = "user/ticket">tickets</a>
                </div>
            </div>

        </div>

        <div style="width: 550px; ">

            <div class="row" style="height: 70px; margin-top:10px">
                <div class="col align-self-center" align="center">
                    <h4 th:text="${trip.cityFrom.name}">
                        From
                    </h4>
                </div>
                <div class="col align-self-end" align="center">
                    <i th:text="${trip.date}">
                        data
                    </i>
                </div>
                <div class="col align-self-center" align="center">
                    <h4 th:text="${trip.cityWhere.name}">
                        Where
                    </h4>
                </div>
            </div>
            <div class="row" style="height: 35px; margin-top:5px">
                <div class="col mt-4" align="center">
                    <i class="large material-icons"  style="font-size: 1.8em;color: #585858;">directions_car</i>
                </div>
                <div class="col" align="center">
                    <i th:text="${trip.time}">
                        time
                    </i>
                </div>
                <div class="col mt-4 pt-1" align="center">
                    <i class="large material-icons" style="font-size: 1.6em;color: green;">where_to_vote</i>
                </div>
            </div>
            <div class="row" style="height: 35px; margin-top:5px;">
                <img class="mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStniYFbUf1jZYcHCVR9X5U-iOxE8NqPPrAH-zH9c--IeBMCshC&s"
                     style="height:30px;width: 550px">
            </div>
            <div class="row" style="height: 70px; margin-top:5px">

                <div class="col align-self-center" align="center">
                    <i>
                        Tickets left: <b style="color:red" th:text="${trip.tripInfo.amountComfortPlace+trip.tripInfo.amountEconomyPlace}"></b>
                    </i>
                </div>
                <div class="col align-self-start" align="center">
                    <i class="material-icons">
                        restaurant_menu
                    </i>
                    <i class="material-icons">
                        local_hospital
                    </i>
                    <i class="material-icons">
                        smoke_free
                    </i>
                </div>
                <div class="col align-self-center mr-2 mb-2" align="center">
                    <h5 >
                        <i th:text="${trip.tripInfo.modelCar}"></i>
                    </h5>
                </div>

            </div>
        </div>

    </div>

</div>
<!--<div th:if="${searchError}" class="alert alert-danger mt-2" role="alert">-->
<!--    <p th:text="${searchError}" align="center"></p>-->
<!--</div>-->


