<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<link rel="stylesheet" href="/static/main.css">


<body>

<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="card">
    <div class="card-body pt-4">

        <form th:action="@{/main}" class="mt-2">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="From" name="from" required autofocus>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Where" name="where" required autofocus>
                </div>
                <div class="col">
                    <input type="date" class="form-control" placeholder="Date" name="date">
                </div>
                <div class="col">
                    <input type="time" class="form-control" placeholder="Time" name="time">
                </div>
                <div class="col"></div>
            </div>
            <div align="center" class="mt-4">
                <button type="submit" class="btn btn-secondary btn-lg">Find Tickets</button>
            </div>
        </form>
    </div>
</div>


<div th:if="${trip.tripInfo.amountComfortPlace+trip.tripInfo.amountEconomyPlace > 0}" class="container mt-4" th:each="trip:${trips}">
    <div class="row mx-auto" style="height:250px ; width:800px; border-radius:20px; box-shadow:0 0 10px rgba(0,0,0,0.5);">
        <div th:if="${trip.userPurchase(authUser) == false}" style="width:250px; border-right: 3px dashed #A9A9A9; border-radius: 20px 0 0 20px;
 background-color:#A9F2EF">

            <a th:href="@{/user/like/{id}(id=${trip.id})}">
            <i th:if="${trip.isQ(authUser) == false}" class="large material-icons ml-2 mt-2"  id="image_starhalf">star_half</i>
            <i th:if="${trip.isQ(authUser)}" class="large material-icons ml-2 mt-2" id="image_star">star</i>
            </a>

            <a href="https://www.kalendarik.com.ua/online"><i class="large material-icons ml-2 pb-1" id="image_calendar">calendar_today</i></a>

            <div class="row" style="height: 70px; margin-top:1px">

                <div class="btn my-auto mx-auto col">

                    <a th:href="@{/user/ticket/economy/{id}(id=${trip.id})}" class="large material-icons ml-2 mt-2" id="image_card_1">shopping_cart</a>

                    <i style="color:#2F4F4F;">Economy(<b style="color:black" th:text="${trip.tripInfo.priceEconomyPlace}+'$'"></b>)
                    </i>
                </div>
                <div class="btn my-auto col">

                    <a th:href="@{/user/ticket/comfort/{id}(id=${trip.id})}" class="large material-icons ml-2 mt-2" id="image_card_2">credit_card</a>
                    <i style="color:#2F4F4F">Comfort(<b style="color:black" th:text="${trip.tripInfo.priceComfortPlace}+'$'"></b>)</i>
                </div>

            </div>
            <div class="row" style="height: 70px;">
                <div class="col align-self-center" align="center">
                    <p th:text="'Sits left: '+${trip.tripInfo.amountEconomyPlace}" class="my-2" style="color:#2F4F4F"></p>
                </div>

                <div class="col align-self-center" align="center">
                    <p th:text="'Sits left: '+${trip.tripInfo.amountComfortPlace}"  class="my-2" style="color:#2F4F4F"></p>
                </div>
            </div>
            <div class="row" style="height: 50px;">
                <div class="col align-self-center" align="center" >

                    <button class="btn" id="button_details" data-toggle="modal" th:attr="data-target='#exampleModal'+${trip.id }">
                      <h6 class="my-auto">Details</h6>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade " th:attr="id='exampleModal'+${trip.id }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <p th:text="'Driver: '+${trip.tripInfo.driverName}"></p>
                                    <p th:text="'Car: '+${trip.tripInfo.modelCar}"></p>
                                    <p th:text="'Comfort sits left: '+${trip.tripInfo.amountComfortPlace}"></p>
                                    <p th:text="'Comfort price per sit: '+${trip.tripInfo.priceComfortPlace}+'$'"></p>
                                    <p th:text="'Economy sits left: '+${trip.tripInfo.amountEconomyPlace}"></p>
                                    <p th:text="'Economy price per sit: '+${trip.tripInfo.priceEconomyPlace}+'$'"></p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div th:if="${trip.userPurchase(authUser)}" style="width:250px; border-right: 3px dashed #A9A9A9; border-radius: 20px 0 0 20px;
 background-color: #22F894">

            <div class="row">
                <div class="col" align="center">
                    <i class="large material-icons ml-2 mt-2" style="font-size: 2.1em;color: green">done_all</i>
                </div>
            </div>

            <div class="row" style=" height:50px">
                <div class="col" align="center">
                    Thank you for your purchase!
                </div>
            </div>

            <div class="row" style=" height:50px">
                <div class="col" align="center">
                    <i class="material-icons mt-2" style="font-size:2.1em">
                        help_outline
                    </i>
                </div>
            </div>

            <div class="row" style=" height:50px">
                <div class="col" align="center">
                    To manage the trip, go to your <a href = "user/ticket">tickets</a>
                </div>
            </div>

        </div>

        <div style="width: 550px; ">

            <div class="row" style="height: 70px; margin-top:10px">
                <div class="col align-self-center" align="center">
                    <h4 th:text="${trip.cityFrom.name}">
                        From
                    </h4>
                </div>
                <div class="col align-self-end" align="center">
                    <i th:text="${trip.date}">
                        data
                    </i>
                </div>
                <div class="col align-self-center" align="center">
                    <h4 th:text="${trip.cityWhere.name}">
                       Where
                    </h4>
                </div>
            </div>
            <div class="row" style="height: 35px; margin-top:5px">
                <div class="col mt-4" align="center">
                    <i class="large material-icons"  style="font-size: 1.8em;color: #585858;">directions_car</i>
                </div>
                <div class="col" align="center">
                    <i th:text="${trip.time}">
                            time
                    </i>
                </div>
                <div class="col mt-4 pt-1" align="center">
                    <i class="large material-icons" style="font-size: 1.6em;color: green;">where_to_vote</i>
                </div>
            </div>
            <div class="row" style="height: 35px; margin-top:5px;">
                <img class="mx-auto" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStniYFbUf1jZYcHCVR9X5U-iOxE8NqPPrAH-zH9c--IeBMCshC&s"
                style="height:30px;width: 550px">
            </div>
            <div class="row" style="height: 70px; margin-top:5px">

                <div class="col align-self-center" align="center">
                    <i>
                        Tickets left: <b style="color:red" th:text="${trip.tripInfo.amountComfortPlace+trip.tripInfo.amountEconomyPlace}"></b>
                    </i>
                </div>
                <div class="col align-self-start" align="center">
                    <i class="material-icons">
                        restaurant_menu
                    </i>
                    <i class="material-icons">
                        local_hospital
                    </i>
                    <i class="material-icons">
                        smoke_free
                    </i>
                </div>
                <div class="col align-self-center mr-2 mb-2" align="center">
                    <h5 >
                        <i th:text="${trip.tripInfo.modelCar}"></i>
                    </h5>
                </div>

            </div>
        </div>

    </div>
</div>
<div th:if="${searchError}" class="alert alert-danger mt-2" role="alert">
    <p th:text="${searchError}" align="center"></p>
</div>


<!--<div class="container mt-5" >-->
<!--    <div class="col ml-auto">-->

<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <h1 class="mx-auto">-->
<!--                    Trips-->
<!--                </h1>-->
<!--            </div>-->
<!--            <div class="col mt-3" align="right">-->
<!--                <a type="button" class="btn btn-secondary" href="/"-->
<!--                   style="background-color: #2F4F4F; box-shadow: 0 0 5px rgba(0,0,0,0.5); color:white;">-->
<!--                    Main page</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->



<!--        <table class="table mt-2 mx-auto" >-->

<!--            <thead class="thead-dark">-->
<!--            <tr >-->
<!--                <th>From</th>-->
<!--                <th>Where</th>-->
<!--                <th>Data</th>-->
<!--                <th>Time</th>-->
<!--            </tr>-->
<!--            </thead>-->

<!--            <tbody>-->
<!--            <tr th:each="trip:${trips}">-->
<!--                <td th:text="${trip.cityFrom.name}"></td>-->
<!--                <td th:text="${trip.cityWhere.name}"></td>-->
<!--                <td th:text="${trip.date}"></td>-->
<!--                <td th:text="${trip.time}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/3108c34e76.js"></script>
</body>
</html>