<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>
<body style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHpWoBxbxcDmnVz1wjWsAP9YyKJjXhx9TUjcAFU3_0xxEGkduY&s') fixed;background-size: cover; ">


<div class="container mt-5" >
    <div class="col ml-auto">

        <div class="row">
            <div class="col">
                <h1 class="mx-auto">
                    Trips
                </h1>
            </div>
            <div class="col mt-3" align="right">
                <a type="button" class="btn btn-secondary" href="/"
                   style="background-color: #2F4F4F; box-shadow: 0 0 5px rgba(0,0,0,0.5); color:white;">
                    Main page</span>
                </a>
            </div>
        </div>

        <table class="table mt-2 mx-auto" >

            <thead class="thead-dark">
            <tr >
                <th>Id</th>
                <th>From</th>
                <th>Where</th>
                <th>Data</th>
                <th>Time</th>
                <th>Info</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="trip:${trips}">
                <td th:text="${trip.id}" ></td>
                <td th:text="${trip.cityFrom.name}"></td>
                <td th:text="${trip.cityWhere.name}"></td>
                <td th:text="${trip.date}"></td>
                <td th:text="${trip.time}"></td>
                <td>

                    <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#exampleModal'+${trip.id }">
                        details
                    </button>

                    <!-- Modal -->
                    <div class="modal fade " th:attr="id='exampleModal'+${trip.id }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Information</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <p th:text="'Driver: '+${trip.tripInfo.driverName}"></p>
                                    <p th:text="'Car: '+${trip.tripInfo.modelCar}"></p>
                                    <p th:text="'Comfort places left: '+${trip.tripInfo.amountComfortPlace}"></p>
                                    <p th:text="'Price for comfort place: '+${trip.tripInfo.priceComfortPlace}+'$'"></p>
                                    <p th:text="'Economy places left: '+${trip.tripInfo.amountEconomyPlace}"></p>
                                    <p th:text="'Price for economy place: '+${trip.tripInfo.priceEconomyPlace}+'$'"></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <a class="nav-link" th:href="@{/trip_settings/delete_trip/{id}(id=${trip.id})}">
                        <i class="fa fa-trash" style="font-size: 1.4em; color: #585858;"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:if="${sameCity}" class="alert alert-danger mt-2" role="alert">
            <p th:text="${sameCity}"></p>
        </div>
        <div th:if="${noCity}" class="alert alert-danger mt-2" role="alert">
            <p th:text="${noCity}"></p>
        </div>

        <form method="post" th:action="@{/trip_settings}" class="row mt-2 mb-5">
            <div class="col">
                <h3>Add a new trip</h3>
                <input type="text" class="form-control mt-4" placeholder="From" name="from" required autofocus>
                <input type="text" class="form-control mt-4" placeholder="Where" name="where" required autofocus>
                <input type="date" class="form-control mt-4"  name="date" required autofocus>
                <input type="time" class="form-control mt-4"  name="time" required autofocus>
                    <div class="col">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button class="btn btn-lg btn-secondary mt-5 ml-5" type="submit"
                                style="background-color: #2F4F4F; box-shadow: 0 0 5px rgba(0,0,0,0.5); width:400px">Save</button>
                    </div>
            </div>
            <div class="col">
                <div class="row ml-1">
                    <h3>Trips information</h3>

                    <button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target=".bd-example-modal-lg">View all</button>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel1" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">Information</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <table class="table mt-2 mx-auto" >

                                        <thead class="thead-dark">
                                        <tr >
                                            <th>Driver</th>
                                            <th>Car</th>
                                            <th>Economy sits/price</th>
                                            <th>Comfort sits/price</th>
                                            <th></th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="tripInfo:${tripInfo}">
                                            <td th:text="${tripInfo.driverName}" ></td>
                                            <td th:text="${tripInfo.modelCar}"></td>
                                            <td th:text="${tripInfo.amountEconomyPlace}+'/'+${tripInfo.priceEconomyPlace}+'$'"></td>
                                            <td th:text="${tripInfo.amountComfortPlace}+'/'+${tripInfo.priceComfortPlace}+'$'"></td>
                                            <td>
                                                <a class="nav-link" th:href="@{/trip_settings/delete_trip_info/{id}(id=${tripInfo.id})}">
                                                    <i class="fa fa-trash" style="font-size: 1.4em; color: #585858;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <input type="number" class="form-control mt-3" placeholder="Comfort price" name="cprice" required autofocus>
                <input type="number" class="form-control mt-4" placeholder="Economy price" name="eprice" required autofocus>
                <input type="number" class="form-control mt-4" placeholder="Amount comfort places" name="amountc" required autofocus>
                <input type="number" class="form-control mt-4" placeholder="Amount economy places" name="amounte" required autofocus>
                <input type="text" class="form-control mt-4" placeholder="Driver name" name="dname" required autofocus>
                <input type="text" class="form-control mt-4" placeholder="Car model" name="model" required autofocus>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments/script :: scripts"></div>
</body>
</html>